Soa_Form/Soa_Form/Connected Services/KullaniciServis/KullaniciServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertKullanici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Kullanici">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KullaniciID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sifre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KuList" type="tns:ArrayOfKullanici" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKullanici">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kullanici" nillable="true" type="tns:Kullanici" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertKullaniciResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKullanici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateKullaniciResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllKullanici">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllKullaniciResult" type="tns:ArrayOfKullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteKullanici">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteKullaniciResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciIdSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciIdSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciIdSelectResult" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:InsertKullanici" />
  </wsdl:message>
  <wsdl:message name="InsertKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:InsertKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKullanici" />
  </wsdl:message>
  <wsdl:message name="UpdateKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllKullanici" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteKullanici" />
  </wsdl:message>
  <wsdl:message name="DeleteKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciIdSelectSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciIdSelect" />
  </wsdl:message>
  <wsdl:message name="KullaniciIdSelectSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciIdSelectResponse" />
  </wsdl:message>
  <wsdl:portType name="KullaniciServisSoap">
    <wsdl:operation name="InsertKullanici">
      <wsdl:input message="tns:InsertKullaniciSoapIn" />
      <wsdl:output message="tns:InsertKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKullanici">
      <wsdl:input message="tns:UpdateKullaniciSoapIn" />
      <wsdl:output message="tns:UpdateKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <wsdl:input message="tns:SelectAllKullaniciSoapIn" />
      <wsdl:output message="tns:SelectAllKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <wsdl:input message="tns:DeleteKullaniciSoapIn" />
      <wsdl:output message="tns:DeleteKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciIdSelect">
      <wsdl:input message="tns:KullaniciIdSelectSoapIn" />
      <wsdl:output message="tns:KullaniciIdSelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KullaniciServisSoap" type="tns:KullaniciServisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertKullanici">
      <soap:operation soapAction="http://tempuri.org/InsertKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKullanici">
      <soap:operation soapAction="http://tempuri.org/UpdateKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <soap:operation soapAction="http://tempuri.org/SelectAllKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <soap:operation soapAction="http://tempuri.org/DeleteKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciIdSelect">
      <soap:operation soapAction="http://tempuri.org/KullaniciIdSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KullaniciServisSoap12" type="tns:KullaniciServisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertKullanici">
      <soap12:operation soapAction="http://tempuri.org/InsertKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKullanici">
      <soap12:operation soapAction="http://tempuri.org/UpdateKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <soap12:operation soapAction="http://tempuri.org/SelectAllKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKullanici">
      <soap12:operation soapAction="http://tempuri.org/DeleteKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciIdSelect">
      <soap12:operation soapAction="http://tempuri.org/KullaniciIdSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciServis">
    <wsdl:port name="KullaniciServisSoap" binding="tns:KullaniciServisSoap">
      <soap:address location="http://localhost:52257/KullaniciServis.asmx" />
    </wsdl:port>
    <wsdl:port name="KullaniciServisSoap12" binding="tns:KullaniciServisSoap12">
      <soap12:address location="http://localhost:52257/KullaniciServis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>