Soa_Form/Soa_Form/Connected Services/SirketServis/SirketServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertSirket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:Sirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sirket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SirketID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketAd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sehir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SirketAdres" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AracSayisi" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sirList" type="tns:ArrayOfSirket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSirket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sirket" nillable="true" type="tns:Sirket" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertSirketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertSirketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllSirket">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllSirketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllSirketResult" type="tns:ArrayOfSirket" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSirketSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSirket" />
  </wsdl:message>
  <wsdl:message name="InsertSirketSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSirketResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllSirketSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllSirket" />
  </wsdl:message>
  <wsdl:message name="SelectAllSirketSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllSirketResponse" />
  </wsdl:message>
  <wsdl:portType name="SirketServisSoap">
    <wsdl:operation name="InsertSirket">
      <wsdl:input message="tns:InsertSirketSoapIn" />
      <wsdl:output message="tns:InsertSirketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllSirket">
      <wsdl:input message="tns:SelectAllSirketSoapIn" />
      <wsdl:output message="tns:SelectAllSirketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SirketServisSoap" type="tns:SirketServisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSirket">
      <soap:operation soapAction="http://tempuri.org/InsertSirket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllSirket">
      <soap:operation soapAction="http://tempuri.org/SelectAllSirket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SirketServisSoap12" type="tns:SirketServisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSirket">
      <soap12:operation soapAction="http://tempuri.org/InsertSirket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllSirket">
      <soap12:operation soapAction="http://tempuri.org/SelectAllSirket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SirketServis">
    <wsdl:port name="SirketServisSoap" binding="tns:SirketServisSoap">
      <soap:address location="http://localhost:52257/SirketServis.asmx" />
    </wsdl:port>
    <wsdl:port name="SirketServisSoap12" binding="tns:SirketServisSoap12">
      <soap12:address location="http://localhost:52257/SirketServis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>